:root {
    font-family: sans-serif;
}

body {
    background-color: rgb(25, 25, 25);
    margin: 0;
}

h1 {
    color: white
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.sample {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 60, 60);
    color: white;
    height: 300px;
    width: 300px;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px 0 black;
}

.sample span:first-child {
    font-size: 2rem;
}

.playing {
    background-color: rgb(80, 80, 80);
}